/ {
	chosen {
		zephyr,shell-uart = &usart1;
	};
};

&usart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
};

/ {
	leds {
		compatible = "gpio-leds";
		userled: led_1 {
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
			label = "LED 1";
			status = "okay";
		};
	};
	
	aliases {
		led1 = &userled;
	};
	
};